* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  overflow: hidden;
}

$mainBorderRadius: 10px;
$innerBorderRadius: 5px;

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background: url("../img/bg.jpg") no-repeat center / cover;

  .boards {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-self: baseline;
      max-width: 250px;
      width: 100%;
      background-color: #f1f2f4;
      margin: 0 15px;
      padding: 10px;
      transition: .3s all ease;
      border-radius: $mainBorderRadius;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #172b4d;
        min-height: 35px;
        margin: 2px;

        &__text {
          padding: 5px;
          margin: 0 2px 0 1px;
          width: calc(100% - 16px);
          font-size: 14px;
          font-weight: bold;

          &:focus{
            outline: 1px solid rgba(168, 168, 168, 1);
            border-radius: $innerBorderRadius;
          }
        }
      }


      .list {
        min-height: 40px;

        &__item {
          background-color: #ffffff;
          border-radius: $innerBorderRadius;
          padding: 10px;
          text-align: left;
          margin-bottom: 8px;
          cursor: pointer;
          font-size: 14px;
          outline: none;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
        }

      }

      .form {
        border-radius: $innerBorderRadius;
        margin-top: auto;
        display: none;

        .textarea {
          resize: none;
          height: 60px;
          border-radius: $innerBorderRadius;
          border: none;
          background: white;
          padding: 10px;
          width: 100%;
          font-size: 14px;
          box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;

          &:focus {
            outline: none;
          }
        }

        .buttons {
          margin-top: 6px;
          display: flex;
          justify-content: flex-start;

          .item-btn {
            display: flex;
            align-items: center;
            height: 33px;
          }

          .item-btn-add {
            width: 120px;
            background-image: linear-gradient(#42A1EC, #0C66E4);
            border: 1px solid #0077CC;
            border-radius: 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.05em;
            padding: 4px 15px;
            text-align: center;
            vertical-align: baseline;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-right: 5px;
          }

          .item-btn-add:hover {
            background-image: linear-gradient(#1482D0, #0C66E4);
            border-color: #1482D0;
          }

          .item-btn-add:active {
            background-image: linear-gradient(#3D94D9, #0067B9);
            border-color: #006DBC;
          }

          .item-btn-cancel {
            color: #44546f;
            font-size: 18px;
            border: none;
            border-radius: 4px;
            padding: 0 12px;

            &:hover {
              background: rgba(155, 155, 155, .3);
            }

          }

        }
      }

      .add__btn {
        height: 30px;
        border-radius: $innerBorderRadius;
        margin-top: 5px;
        display: flex;
        font-size: 12px;
        align-items: center;
        padding-left: 10px;
        color: #44546f;
        cursor: pointer;

        &:hover{
          background: rgba(155, 155, 155, .3);
        }

        i {
          font-size: 14px;
          margin-right: 10px;
          color: #44546f;
        }
      }
    }
  }



  .button-add-boards {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    word-spacing: 1px;
    max-width: 250px;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    margin: 0 15px;
    padding: 15px 10px;
    transition: 0.3s all ease;
    border-radius: $mainBorderRadius;
    cursor: pointer;
    user-select: none;

    i {
      font-size: 14px;
      margin-right: 10px;
      color: #c0c0c0;
    }
  }
}

